<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h4 class="text-center flex-grow-1 m-0">{{ currentMonth }} <br> {{currentMonthLabel}}</h4>
        </div>
    </div>

    <div class="mt-3">
        <app-daily-table></app-daily-table>
    </div>

    
    <div class="mt-3" *ngIf="showModal">
        <app-add-daily (close)="onModalClose()"></app-add-daily>
    </div>

    <button class="btn btn-primary btn-lg rounded-circle position-fixed bottom-3 end-3 shadow" (click)="onAddClick()">
        <i class="mdi mdi-plus"></i>
    </button>
</div>