<div class="container-fluid">
  <nav class="d-flex justify-content-between align-items-center py-3">
    <button class="btn btn-light" (click)="toggleMenu()">
      <i class="mdi mdi-menu icon-lg"></i>
    </button>

    <h2 class="text-center flex-grow-1 m-0">{{ pageTitle }}</h2>

    <button class="btn btn-light">
      <i class="mdi mdi-account-circle icon-lg"></i>
    </button>
  </nav>

  <app-modal [isOpen]="menuOpen" (toggleEvent)="menuEvent($event)"></app-modal>

  <div class="mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
